body {
    background-color: #444444;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}


#press-btn{
    width: 20%;
    height: 150px;
    background-color: red;
    border: 1px solid;
    color: whitesmoke;
}

#press-btn:active{
    background-color: white;   
}


#upgrade-btn{
    width: 200px;
    height: 50px;
    background-color: green;
    border-radius: 10px;
    color: whitesmoke;
    font-size: larger;
    border: 1px solid;
}

#upgrade-btn:active{
    background-color: white;
    color: #fff;
}

#fun{
    background-color: #444444;
    border: none;
    color: white;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}